@use 'mixin' as mixin;

#root {
  margin: 0 auto;
  text-align: center;
  background-color: mixin.$white-color;
}

.app__main-text {
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 45px 10% 37px;
}

@media only screen and (min-width: 850px) {
  .app__main-text {
    font-size: 30px;
  }
}
